<div class="container text-center">
  <h1>About page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive comunity where developer
     and enterpreneus can meet each other and bring on their awesome ideias.</p>
</div>
